@import '~normalize.css';
$color: DeepSkyBlue;
$main: white;
h1 {
    color: $color;
    background-color: darkslategray;
    
}
div{
    text-align: center;
    
  }
img{
    height: 110px;
    width: 200px;
    background-color: $main;
}